<header class="header">
    <div>
        <img src="./../favicon.ico" alt="" routerLink="/">
    </div>
    <div class="header__title">
        <a routerLink="/"><h1>Credi Pyme </h1></a>
    </div>
    <div class="menu">
        <ul class="menu__container">
            <li><a [routerLink]="'/'">portada</a></li>
            <li><a>creditos</a></li>
            <li><a>ahorro</a></li>
            <li><a>Invercion</a></li>
            <li><a>finanzas</a></li>
            <li><a>negocios</a></li>
            <li><a>tasas%</a></li>
        </ul>
    </div>
</header>