<div class="noteDetail">
    <p class="noteDetail__section">{{note.section}}</p>
    <h2>{{note.title}}</h2>
    <hr>
    <div>
        <span class="noteDetail__information">
            {{note.city}} | {{note.date}} {{note.hour}} | Por: {{note.reporter}}
        </span>
    </div>
    <hr>
    <div class="noteDetail__container">
        <img [src]="note.picture" alt="" width="732">
        <div class="noteDetail__description">
            <p>GAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIERO.</p>
            <br>
            <p>GAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIERO.</p>
            <br>
            <p>GAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIERO.</p>
            <br>
            <p>GAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIERO.</p>
            <br>
            <p>GAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIEROGAMARRA LLOCLLA LUIGI PIERO</p>
        </div>
    </div>
</div>